<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Chef_json</title>
		<meta name="description" content="Chef json">
		<meta name="author" content="jefff35">

		<link rel="stylesheet" href="stylesheets/style.css">

		<!--[if lt IE 9]>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>
		<%= yield %>
	</body>
</html>
